<configuration>
  <system.webServer>
    <!--Notice that I am also enabling runAllManagedModulesForAllRequests (RAMMFAR). I need to enable RAMMFAR to handle PUT and DELETE requests.-->
    <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <!--If you navigate to /movies/add and hit the Reload button, then you’ll get a 404 response from the server. You’ll get a 404 error because /movies/add is a client-side route and not a server-side route.
        To fix this issue, you need to configure IIS to redirect all requests back to home.-->
        <!--Redirect selected traffic to index -->
        <rule name="Index Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>